{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git"}},
        {uuid, {git, "https://github.com/okeuday/uuid.git"}},
        {proper, {git, "git://github.com/proper-testing/proper.git",{branch,"master"}}}, 
        jiffy
]}.
{plugins, [rebar3_auto,rebar3_proper]}.

{relx, [{release, { idp, "0.1.0" },
    [idp,
    cowboy,
    jiffy,
    cowlib,
    ranch,
    rest_interface,
    sasl]},
{sys_config, "./config/sys.config"},
{vm_args, "./config/vm.args"},

{dev_mode, true},
{include_erts, false},

{extended_start_script, true}]
}.

{profiles, [
    {prod, [
        {relx, [{dev_mode, false},
            {include_erts, true}]}
    ]},
    {test, [
        {deps, [
            %% hex
            {proper, "1.3.0"},
            {proper, {git, "https://github.com/proper-testing/proper.git",
                         {branch, "master"}}}
        ]}
    ]}
]}.




