{erl_opts, [debug_info]}.
{deps, [
        {cowboy, {git, "https://github.com/ninenines/cowboy.git"}},
        {uuid, {git, "https://github.com/okeuday/uuid.git"}},
        jiffy
       ]}.
{plugins, [rebar3_auto,rebar3_proper]}.

{relx, [{release, { idp, "0.1.0" },
         [idp,
          cowboy,
          jiffy,
          cowlib,
          ranch,
          rest_interface,
          sasl]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
    {prod, [
        {relx, [{dev_mode, false},
            {include_erts, true}]}
    ]},
    {test,[
        {erl_opts, [nowarn_export_all]},
        {deps, [{proper, {git, "git://github.com/proper-testing/proper.git"}}]} 
    ]}
]}.
